{% extends 'layout.html' %}

{% block title %}Choice Maker{% endblock %}

{% block content %}
{% if is_logged_in %}
    <h2>Your registrations:</h2>
    <ul>
    {% for optionset in registrations %}
        <li><h4>{{ optionset }}</h4></li>
        <ul>
            {% for option in optionset.option_set.all %}
                <li>{{ option }} (
                    {% for user in option.choice_set.all %}
                        {{ user }},
                    {% endfor %})
                </li>
            {% endfor %}
        </ul>
    {% endfor %}
    </ul>

{% else %}
    <h2> You don't have registrations, yet.</h2>
{% endif %}
{% endblock %}